.header {
    text-align: center;
    background: linear-gradient(to right, #FFD700, #FFA500);
    color: #ffffff;
    position: relative;
}
.header h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.header img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}