.highlight-section {
    background-color: #FFFACD;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.highlight-section h2 {
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: bold;
}
.highlight-section p {
    font-size: 16px;
    margin: 0;
}