<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning Email</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/weather_widget.css">
    <link rel="stylesheet" href="../css/finance_highlights.css">
    <link rel="stylesheet" href="../css/english_luca.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <div class="email-container {{ data.design.font_style }}-fonts">
        {% include 'sections/header.html' %}
        {% include 'sections/weather_widget.html' %}
        {% include 'sections/finance_highlights.html' %}
        {% include 'sections/english_luca.html' %}
        {% include 'sections/footer.html' %}
    </div>
    <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>