<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Morning Email</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/weather_widget.css">
    <link rel="stylesheet" href="../css/highlight_section.css">
    <link rel="stylesheet" href="../css/motivational_quote.css">
    <link rel="stylesheet" href="../css/fun_fact.css">
    <link rel="stylesheet" href="../css/motivational_gif.css">
    <link rel="stylesheet" href="../css/news.css">
</head>
<body>
    <div class="email-container">
        {% include 'sections/header.html' %}
        {% include 'sections/weather_widget.html' %}
        {% include 'sections/highlight_section.html' %}
        {% include 'sections/motivational_quote.html' %}
        {% include 'sections/fun_fact.html' %}
        {% include 'sections/motivational_gif.html' %}
        {% include 'sections/news.html' %}
    </div>
    <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>